header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: rgb(71, 69, 69);
}

header > *{
    margin: 2rem 4rem;
}

.left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 45%;
}

.left h1 {
    margin: 0;
    font-size: 2.1em;
    position: absolute;
    transform: translate(-92%, -20%);
}

.left h1:nth-child(1) {
    color: rgb(142, 187, 19);
    /* -webkit-text-stroke: 1.5px #531aa2; */
}

.left h1:nth-child(2) {
    color: #7757a3;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.link{
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
}

.active{
    color:purple;
}

.serviceNav ul li:not(:last-child){
    scale: 0.85;
} 

.serviceNav ul li:last-child a{
    background-color: rgba(134, 167, 59, .6);
} 


@media (prefers-color-scheme: light) {
    .link{
        color : black;
    }
}