header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    
}

header > *{
    margin: 2rem 4rem;
}

.left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.left h1{
    margin: 0;
    font-size: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav ul li{
}

.link{
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
}

.active{
    color:purple;
}

.serviceNav ul li:not(:last-child){
    scale: 0.85;
} 

.serviceNav ul li:last-child a{
    background-color: rgba(134, 167, 59, .6);
} 


@media (prefers-color-scheme: light) {
    .link{
        color : black;
    }
}